$c-gray-primary: #b6b6b6;
$c-gray-secondary: #333333;
$c-gray3: #6e6e6e;
$c-gray4: #787878;
$c-gray5: #8b8b8b;
$c-gray6: #3b3b3b;
$c-black: #000000;
$c-black2: #010101;
$c-white: #ffffff;
$c-white-2: #fefefe;
$c-white3: #f7f7f7;
$c-red: #c00237;
$c-bg: linear-gradient(to top, #eeeeee 0%, #ffffff 100%);

$c-primary: #000000;
$c-secondary: #c00237;

$footer: 40px;

$inner: 1200px;
$sinner: 960px;

// header
$font-head: 'PT Sans', sans-serif;
$font-base: Arial;

// breakpoints
$break-lg: 1124px;
$break-sm: 800px;
$break-xs: 320px;
